
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
:root {
  font-size: 16px;
}

$text-color: #00b4d8;


.background {
  background-image: url("https://www.bombaysoftwares.com/_next/image?url=https%3A%2F%2Fbs-cms-media-prod.s3.ap-south-1.amazonaws.com%2FCloud_Computing_b1504cc53b.jpg&w=1200&q=75");
  // background-image: url("https://www.shutterstock.com/shutterstock/videos/3560445627/thumb/1.jpg?ip=x480");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 330px;
  padding: 2rem 1rem;
  margin: 10vh auto;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  text-align: center; 
  box-shadow: 0 20px 35px grey;
}

h1 {
  font-size: 2rem;
  color: $text-color;
;
  margin-bottom: 1.2rem;
}
form {
  input {
    width: 92%;
    outline: none;
    border: 1px solid white;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;

    &:focus {
      border: 2px solid rgb(5, 189, 196);
    }
  }
}

.submit {
  font-size: 1rem;
  margin-top: 2rem;
  padding: 10px 0;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  background: $text-color;
  cursor: pointer;

  &:hover {
    background: rgb(243, 93, 93);
  }
}

.register {
  font-size: 0.9rem;
  margin-top: 1.4rem;
  color: $text-color;

  a {
    color: #0094d8;
    text-decoration: none;
  }
}

.recover {
  text-align: right;
  font-size: 0.7rem;
  margin: 0.3rem 1.4rem 0 0;

  a {
    text-decoration: none;
    font-size: 0.9rem;
    color: $text-color;
  }
}

.terms {
  margin-top: 0.2rem;
  color: $text-color;

  input {
    height: 1rem;
    width: 1rem;

    vertical-align: middle;
    cursor: pointer;
  }
  label {
    font-size: 0.9rem;
  }

  a {
    color: $text-color;
    text-decoration: none;
  }
}
