//variables
$primary-gradient: linear-gradient(135deg, #0c0c0d 0%, #08080a 50%, #1a1b1d 100%);
$text-color: #e7e0e0;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: $primary-gradient;
    color: $text-color;
    min-height: 100vh;
    line-height: 1.6;
    overflow-x: hidden;
}
